@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  background-color: #393e46;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100%;
}

.newDiv {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  align-items: center;
  text-align: center;
  position: absolute;
  color: #639cd9;
  font-size: 2rem;
  display: none;
  z-index: 9999;
  height: 100%;
  width: 100%;
}

.header {
  color: #eee;
  font-size: 2.5rem;
}

#time {
  color: #eee;
}

.cards-container {
  -webkit-box-orient: horizontal;
  -webkit-box-pack: space-evenly;
  -webkit-box-direction: normal;
  justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  background-color: #639cd9;
  -ms-flex-flow: row wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  border-radius: 5px;
  margin: 3rem auto;
  display: flex;
  display: flex;
  height: 50vh;
  width: 90%;
}

.cards-container.active {
  pointer-events: none;
}

.card {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 1s;
  position: relative;
  cursor: pointer;
  height: 10vh;
  width: 24%;
}

.face-card {
  -webkit-backface-visibility: hidden;
  background-color: #363636;
  backface-visibility: hidden;
  position: absolute;
  border-radius: 5px;
  z-index: 999;
  height: 100%;
  width: 100%;
}

.face-card::after {
  font: normal normal normal 2rem fontawesome;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  content: '\f1e2';
  color: #639cd9;
  left: 50%;
  top: 50%;
}

.back-card {
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  background-color: #363636;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.back-card i {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 2rem;
  color: #fff;
  left: 50%;
  top: 50%;
}

.countdown {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  color: aliceblue;
  font-size: 3rem;
  display: none;
  left: 50%;
  top: 55%;
}

.card.active {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card.rotate {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  pointer-events: none;
}

.btn {
  padding: 0.5rem 4rem;
  background-color: #639cd9;
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
}

@media screen and (min-width: 500px) {
  .cards-container {
    justify-content: space-evenly;
    background-color: #639cd9;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    border-radius: 5px;
    margin: 3rem auto;
    display: flex;
    display: -webkit-flex;
    height: 50vh;
    max-width: 490px;
  }
}
